%h1
  Popcorn Pal


- if current_user
  %h2
    Welcome #{current_user.email}!
  %p
    #{link_to "Log out", { controller: "devise/sessions", action: "destroy" },  method: :delete }
- else
  %p
    #{link_to "Log in", { controller: "devise/sessions", action: "new" }}
  %p
    #{link_to "Sign up", { controller: "devise/registrations", action: "new" }}