%div.row.jumbotron.center
  %h1
    Welcome to PopcornPal
  %h2
    A social network for movie lovers.
  #{ link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" }
%div.row.center
  %div.col-md-4
    %h3
      Discover
    %p
      Get personalized recommendations and find the next big thing, or a classic hidden gem.
  %div.col-md-4
    %h3
      Connect
    %p
      Have discussions, form groups, and watch movies with your friends and movie lovers worldwide.
  %div.col-md-4
    %i
    %h3
      Manage
    %p
      Keep a watchlist. Get notified when and where your movies are available. Buy tickets in advance.
