%footer.footer.site-footer
  %ul.site-footer-links
    %li
      %p
        © 2016 PopcornPal, Inc
    %li
      %a
        About
    %li
      %a
        Contact
    %li
      %a
        Careers
  %ul.site-footer-links.right
    %li
      #{ link_to image_tag('powered_by_themoviedb.png', class: 'powered-by'),  'https://www.themoviedb.org/' }
