%footer.footer.site-footer
  %ul.site-footer-links
    %li
      %p
        © 2016 PopcornPal, Inc
    %li
      %a
        About
    %li
      %a
        Contact
    %li
      %a
        Careers
  %ul.site-footer-links.right
    %li
      %a{href:'https://www.themoviedb.org/'}
        %img.powered-by{src:'assets/powered_by_themoviedb.png'}

