%h3
  Watchlist
%ul
  - current_user.watchlist.each do | list_item |
    %li
      = link_to list_item.movie.title, list_item.movie
      = link_to '[x]', "/users/#{current_user.id}/watchlist/#{list_item.movie.id}", method: :delete
